<h1>Currency Pairs</h1>
Go <a href="/">back</a>.
<ul>
  <% @symbol_data.keys.each do |currency_symbol| %>
  <li>
    <a href="/forex/<%= currency_symbol %>">Convert 1 <%= currency_symbol %> to...</a>
  </li>
  <% end %>
</ul>
